<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Nuovo Autore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/vendor/bootstrap/css/bootstrap.min.css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" type="text/css" />
<link href="../static/vendor/font-awesome/css/font-awesome.min.css"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" media="screen" type="text/css" />
	<link href="../static/css/test.css"
	th:href="@{/css/test.css}" rel="stylesheet" media="screen"
	type="text/css" />
</head>
<body>
	<form action="#" th:action="@{/autore}" th:object="${autore}"
		method="post">
		<fieldset>
		<legend>Inserisci Autore</legend>
		<div>
			<div>
				<span th:text="#{label.nome}">Nome: </span> <span><input
					type="text" th:field="*{nome}" /></span> <span
					th:if="${#fields.hasErrors('nome')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.cognome}">Cognome: </span> <span><input
					type="text" th:field="*{cognome}" /></span> <span
					th:if="${#fields.hasErrors('cognome')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.nazionalita}">Nazionalità: </span> <span><input
					type="text" th:field="*{nazionalita}" /></span> <span
					th:if="${#fields.hasErrors('nazionalita')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.dataDiNascita}">Data di nascita: </span> <span><input
					type="text" th:field="*{dataDiNascita}" /></span> <span
					th:if="${#fields.hasErrors('dataDiNascita')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.dataDiMorte}">Data di morte: </span> <span><input
					type="text" th:field="*{dataDiMorte}" /></span> <span
					th:if="${#fields.hasErrors('dataDiMorte')}" th:text="#{label.date}">Error</span>
			</div>
				<span><button type="submit">Submit</button></span>
			</div>
			</fieldset>
	</form>
</body>
</html>